body, html {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("background.jpg");

  background-position: center;
  background-size: cover;
  background-color: #000000;
}

.textWork{
  position: fixed;
  margin-left: 650px;
  padding-top: 15%;
}

#inputText{
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: -32px;
  max-height: 120px;
  min-height: 120px;
  max-width: 280px;
  min-width: 280px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 280px;
  height: 150px;
}

#selectFileTxt{
  position: relative;
  top: -161px;
  left: -953px;
  border: none;
  width: 299px;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#textEncryptBtn{
  position: relative;
  top: 20px;
  left: -298px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#textEncryptBtn:hover{
  background-color: #9f9ff0;
  color: #000000;
}

#textDecryptBtn{
  position: relative;
  top: 20px;
  left: -238px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#textDecryptBtn:hover{
  background-color: #9f9ff0;
  color: #000000;
}

#outputText{
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: -120px;
  max-height: 150px;
  min-height: 150px;
  max-width: 280px;
  min-width: 280px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 280px;
  height: 150px;
}

#decryptCopyBtn{
  position: relative;
  top: 20px;
  left: -298px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#decryptCopyBtn:hover{
  background-color: #9f9ff0;
  color: #000000;
}

#keysBtn{
  position: relative;
  top: 20px;
  left: -238px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#keysBtn:hover{
  background-color: #9f9ff0;
  color: #000000;
}

#changeBlockImg{
  position: relative;
  top: 50px;
  left: -32px;
  width: 714px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#changeBlockImg:hover{
  background-color: #9f9ff0;
  color: #000000;
}

.imgWork{
margin-left: 545px;
padding-top: 570px;
}

#inputImg{
  position: relative;
  top: -285px;
  left: -306px;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: -32px;
  max-height: 120px;
  min-height: 120px;
  max-width: 280px;
  min-width: 280px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 280px;
  height: 150px; 
}

#outputImg{
  position: relative;
  top: -285px;
  left: -245px;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: -32px;
  max-height: 150px;
  min-height: 150px;
  max-width: 280px;
  min-width: 280px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 280px;
  height: 150px; 
}

#imgEncryptBtn{
  position: relative;
  top: -262px;
  left: -223px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgEncryptBtn:hover{
  background-color: #9f9ff0;
  color: #000000;
}

#imgDecryptBtn{
  position: relative;
  top: -262px;
  left: -544px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgDecryptBtn:hover{
  background-color: #9f9ff0;
  color: #000000;
}


#keysImgBtn{
  position: relative;
  top: -262px;
  left: -504px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#keysImgBtn:hover{
  background-color: #9f9ff0;
  color: #000000;
}

#encryptCopyBtn{
  position: relative;
  top: -262px;
  left: -408px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#encryptCopyBtn:hover{
  background-color: #9f9ff0;
  color: #000000;
}

#selectFileImg{
  position: relative;
  top: -447px;
  left: 75px;
  border: none;
  width: 298px;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#changeBlockText{
  position: relative;
  top: -230px;
  left: 75px;
  width: 727px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.keyWork {
  position: fixed; /* Делаем блок фиксированным */
  right: -100%;   /* Вызначаем блок за пределы экрана справа */
  top: 0;
  width: 300px; /* Задаём ширину блока */
  transition: right 0.5s; /* Анимация перемещения блока */
}

.keyWorkVisible {
  right: 0; /* При добавлении этого класса блок будет перемещаться в видимую область экрана */
}

.active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Скрытый со стороны экрана */
.offscreen-left {
  transform: translateY(-100%);
  opacity: 0;
}

.offscreen-right {
  transform: translateY(100%);
  opacity: 0;
}

.shake-animation {
  animation: shake 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  20% {
      transform: translateX(-4px);
  }
  40% {
      transform: translateX(4px);
  }
  60%{
      transform: translateX(-4px);
  }
  80%{
      transform: translateX(4px);
  }
}

.keys-container {
  display: none;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.keys-container.show {
  display: block;
  max-height: 500px; /* Выберите подходящий размер */
}